        .margin2{
            margin: 2px;
        }
    
        #componentHolder {
            height: 85vh;
            background: #3f6764;
            border: solid 2px #3f6764;
            border-radius: 5px;
            border-bottom-right-radius: 0px;
            border-top-right-radius: 0px;
        }

        .htmlContainer {
            border: solid 2px #3f6764;
            border-left: none;
            height: 85vh;
            border-radius: 5px;
            border-bottom-left-radius: 0px;
            border-top-left-radius: 0px;
        }

        #htmlContainer {
            height: 75vh;
            overflow-y: auto;
        }

        .btn-group {
            margin-top: 20px;
        }

        .generator {
            border-top: solid 1px grey;
            text-align: right;
        }

        .background {
            color: lightgrey;
            text-align: center;
            font-size: 20px;
        }


        .wrapperDiv{
             display: inline-block;border:dashed 2px #1c98ff; margin:4px; float: left;
        }

        .insideWrap{
            display: block; width: 100%; height: 20px;
        }
        
        .helper{
            display:inline ; border:dashed 2px #1c98ff;
        }

        .classOutWrap{
            width: auto;
            display: inline-block;
            float: left;
        }
        
