<nav class="navbar navbar-inverse">
   <div class="container-fluid">
      <div class="navbar-header">
         <a class="navbar-brand" href="#">Block Builder</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{user}}</a></li>
         <li><a ng-click="logOut()"><span class="glyphicon  glyphicon-log-out"></span> Logout</a></li>
      </ul>
   </div>
</nav>
<div class="container">
   <div class="row">
      <div class="col-md-2" id="componentHolder">
         <div class="btn-group">
            <button class="btn btn-lg btn-primary" id="link">
            <span class="glyphicon glyphicon-link"></span> Link
            </button>
         </div>
         <div class="btn-group">
            <button class="btn btn-primary btn-lg" id="para">
            <span class="glyphicon glyphicon-font"></span> Paragraph
            </button>
         </div>
         <div class="btn-group">
            <button class="btn btn-primary btn-lg" id="pic">
            <span class="glyphicon glyphicon-picture"></span> Image
            </button>
         </div>
         <div class="btn-group">
            <button class="btn btn-primary btn-lg" id="heading">
            <span class="glyphicon glyphicon-header"></span> Headings
            </button>
         </div>
      </div>
      <div class="col-md-10 htmlContainer">
         <div id="htmlContainer">
            <b class="background">
            Drag Components to Build HTML
            </b>
         </div>
         <div class="generator">
            <button class="btn btn-success" style="margin-top: 2vh;" id="generatrHtml">
            Generate HTML
            </button>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="linkSettingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Link Setting</h4>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group ">
                  <label class="control-label " for="name">
                  text
                  </label>
                  <input class="form-control" id="link-text" name="name" type="text"/>
               </div>
               <div class="form-group ">
                  <label class="control-label " for="name1">
                  href
                  </label>
                  <input class="form-control" id="link-href" name="name1" type="text"/>
               </div>
               <div class="form-group ">
                  <label class="control-label " for="select">
                  target
                  </label>
                  <select class="select form-control" id="link-target" name="select">
                     <option value="_self">
                        _self
                     </option>
                     <option value="_blank">
                        _blank
                     </option>
                     <option value="_parent">
                        _parent
                     </option>
                     <option value="_top">
                        _top
                     </option>
                  </select>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-success" id="saveEditLink">Save changes</button>
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" >Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="paraSettingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Paragraph Settings</h4>
         </div>
         <div class="modal-body">
            <form method="post">
               <div class="form-group ">
                  <label class="control-label " for="textarea">
                  text
                  </label>
                  <textarea class="form-control" cols="100" id="para-text" name="textarea" placeholder="write your text......." rows="10"></textarea>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-success" id="saveEditPara">Save changes</button>
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="picSettingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Picture Settings</h4>
         </div>
         <div class="modal-body">
            <form method="post">
               <div class="form-group ">
                  <label class="control-label " for="textarea">
                  src
                  </label>
                  <input class="form-control" id="pic-src" name="name" type="text"/>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-success" id="saveEditPic">Save changes</button>
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" >Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="headSettingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Heading Settings</h4>
         </div>
         <div class="modal-body">
            <form>
               <div class="form-group ">
                  <label class="control-label " for="name">
                  text
                  </label>
                  <input class="form-control" id="head-text" name="name" type="text"/>
                  <label class="control-label " for="head-type">
                  Select Heading Type
                  </label>
                  <select class="select form-control" id="head-type" name="head-type">
                     <option value="h1">
                        h1
                     </option>
                     <option value="h2">
                        h2
                     </option>
                     <option value="h3">
                        h3
                     </option>
                     <option value="h4">
                        h4
                     </option>
                     <option value="h5">
                        h5
                     </option>
                     <option value="h6">
                        h6
                     </option>
                  </select>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-success" id="saveEditHead">Save changes</button>
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" >Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade " id="generateHtmlModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Generated HTML</h4>
         </div>
         <div class="modal-body">
            <form method="post">
               <div class="form-group ">
                  <textarea class="form-control" cols="100" id="html-gen" rows="15"></textarea>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" >Close</button>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="closeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Delete Element!!</h4>
         </div>
         <div class="modal-body">
            Are you sure?
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default btn-danger" id="deleteElement">Delete</button>
            <button type="button" class="btn btn-primary btn-success" data-dismiss="modal">Cancel</button>
         </div>
      </div>
   </div>
</div>