<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Block Builder</a>
    </div>
  </div>
</nav>
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
   <div class="panel panel-info" >
      <div class="panel-heading">
         <div class="panel-title">Log In</div>
      </div>
      <div style="padding-top:30px" class="panel-body" >
         <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
         <form name="loginForm">
            <div style="margin-bottom: 25px" class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
               <input id="login-username" type="text" class="form-control" name="email" value="" placeholder="email" ng-model="userData.email" ng-pattern="emailFormat" required>
               <span class="input-group-addon">
                 <i class="glyphicon glyphicon-ok" style="color:green;" ng-show="loginForm.email.$valid"></i>
                 <i class="glyphicon glyphicon-remove" style="color:red;" ng-hide="loginForm.email.$valid"></i>
               </span>                                        
            </div>
            <div style="margin-bottom: 25px" class="input-group">
               <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
               <input id="login-password" type="password" class="form-control" name="password" placeholder="password" ng-model="userData.pass" ng-pattern="passFormat" required>
               <span class="input-group-addon">
                 <i class="glyphicon glyphicon-ok" style="color:green;" ng-show="loginForm.password.$valid"></i>
                 <i class="glyphicon glyphicon-remove" style="color:red;" ng-hide="loginForm.password.$valid"></i>
               </span>
            </div>
            <div style="margin-top:10px" class="form-group">
               <!-- Button -->
               <div class="col-sm-12 controls">
                  <button id="btn-login" href="#" class="btn btn-success" ng-click="login()">Login  </button>
                  <span>use username <b>demo@getmein.com</b> and pass <b>demo</b></span>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>